    <form class="row container-fluid" (ngSubmit)="onSubmit(searchForm)" #searchForm="ngForm">
        <span *ngIf="isError==false" class="red">{{error}}</span>
        <span class="search-icon"></span>
        <input type="text" 
        class="search-inp col-12"
        name="search"
        [(ngModel)]="searchStr"
        required
        (ngModelChange)="handleChange()"
        [minlength]="minLength"
        [ngClass]="{error:isError}">
    </form>
    <div class="row container-fluid">
        <app-searched-list class="row"></app-searched-list>
    </div>
