.search-inp{
    margin-right: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 5px 10px 5px 30px;
    outline:none
}
.search-icon{
    display: block;
    position: relative;

}
.error{
    border: 1px solid red;
}
.red{
    color: red;
    font-size: 24px;
}
.search-icon::after{
    content: "";
    display: block;
    top: 5px;
    width: 20px;
    height: 20px;
    background-image: url(../../assets/images/icon-search.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}
app-searched-list{
    justify-content: space-around;
}